.footer {
    /* background-color: black; */
    background-image: url("../assets/footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFFDF7;
    line-height: 16px;
    margin-top: 80px;
    width: 100%;
    height: 200px;;
}

.footer-content {
    padding-top: 80px;
}

.link-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.link-section a {
    color: #FFFDF7;
}