.footer {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFFDF7;
    line-height: 16px;
    margin-top: 90px;
    z-index: 10;
    height: auto;
}

.footer-img {
    width: 100%;
    height: auto;
    display: block;
}

.footer-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centers both horizontally and vertically */
  text-align: center;
  z-index: 1;
  padding-top: 10px;
}


.link-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link-section a {
    color: #FFFDF7;
}