#header-text {
    display: flex;
    justify-self: center;

    text-align: center;
    color: white;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    line-height: 70px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}