.header-text, .coming-soon-text {
  text-align: center;
  color: white;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  line-height: 1.1;
}

.standard-header, .coming-soon-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coming-soon-text {
  font-size: 2rem;
  font-style: italic;
  margin-top: 30vh;
}

#standard-grass-1 {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

#standard-grass-1 img {
  width: 100vw;
  height: auto;
  object-fit: cover;
  display: block;
}

#standard-grass-2 {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

#standard-grass-2 img {
  width: 100vw;
  height: auto;
  object-fit: cover;
  display: block;
}